@font-face {
    font-family: "MuseoSansCyrl-100"; 
    src: url("../fonts/MuseoSansCyrl-100/MuseoSansCyrl-100.eot") format("embedded-opentype"), 
    url("../fonts/MuseoSansCyrl-100/MuseoSansCyrl-100.otf") format("opentype"), 
    url("../fonts/MuseoSansCyrl-100/MuseoSansCyrl-100.svg") format("svg"),
    url("../fonts/MuseoSansCyrl-100/MuseoSansCyrl-100.ttf") format("truetype"),
    url("../fonts/MuseoSansCyrl-100/MuseoSansCyrl-100.woff") format("woff");
    
    font-style: normal; 
    font-weight: normal; 
    }

@font-face {
    font-family: "MuseoSansCyrl-300"; 
    src: url("../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300.eot") format("embedded-opentype"), 
    url("../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300.otf") format("opentype"), 
    url("../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300.svg") format("svg"),
    url("../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300.ttf") format("truetype"),
    url("../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300.woff") format("woff");
    
    font-style: normal; 
    font-weight: normal; 
    }

@font-face {
    font-family: "MuseoSansCyrl-500"; 
    src: url("../fonts/MuseoSansCyrl-500/MuseoSansCyrl-500.eot") format("embedded-opentype"), 
    url("../fonts/MuseoSansCyrl-500/MuseoSansCyrl-500.otf") format("opentype"), 
    url("../fonts/MuseoSansCyrl-500/MuseoSansCyrl-500.svg") format("svg"),
    url("../fonts/MuseoSansCyrl-500/MuseoSansCyrl-500.ttf") format("truetype"),
    url("../fonts/MuseoSansCyrl-500/MuseoSansCyrl-500.woff") format("woff");
    
    font-style: normal; 
    font-weight: normal; 
    }

@font-face {
    font-family: "Katherine Plus"; 
    src: url("../fonts/KatherinePlus/KatherinePlus.eot") format("embedded-opentype"), 
    url("../fonts/KatherinePlus/KatherinePlus.otf") format("opentype"), 
    url("../fonts/KatherinePlus/KatherinePlus.svg") format("svg"),
    url("../fonts/KatherinePlus/KatherinePlus.ttf") format("truetype"),
    url("../fonts/KatherinePlus/KatherinePlus.woff") format("woff");
    
    font-style: normal; 
    font-weight: normal; 
    }

@font-face {
    font-family: "Raleway Light"; 
    src: url("../fonts/Raleway-Light/Raleway-Light.eot") format("embedded-opentype"), 
    url("../fonts/Raleway-Light/Raleway-Light.otf") format("opentype"), 
    url("../fonts/Raleway-Light/Raleway-Light.svg") format("svg"),
    url("../fonts/Raleway-Light/Raleway-Light.ttf") format("truetype"),
    url("../fonts/Raleway-Light/Raleway-Light.woff") format("woff");
    
    font-style: normal; 
    font-weight: normal; 
    }
    
@font-face {
    font-family: "MyriadPro-Regular"; 
    src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot") format("embedded-opentype"), 
    url("../fonts/MyriadPro-Regular/MyriadPro-Regular.otf") format("opentype"), 
    url("../fonts/MyriadPro-Regular/MyriadPro-Regular.svg") format("svg"),
    url("../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format("truetype"),
    url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff");
    
    font-style: normal; 
    font-weight: normal; 
    }